{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<div class="example-wrapper">
    <br/>
    <div class="container">
    <br/><br/>
        {% if app.user %}
            {% if is_granted('ROLE_USER') %}
            <h3>Mon compte</h3>
            <div class="account-container">
                <div class="account-info">
                    <h5> {{app.user.username }} </h5><br/>
                    <p> 
                    <p class="info-account-user"> 0 services créé</p>
                    <p class="info-account-user"> 0 cours distribué</p>
                    <hr>
                    <a class="" href="#">Vos statistiques</a><br/>
                    <a class="" href="{{ url('account_payment') }}">Paramètre de paiement</a><br/>
                    <a class="" href="{ { url('service_index') }}">Gerer vos services</a><br/>
                    </p>
                </div>
                <div class="account-service">
                    <h5> Vos services </h5>
                    {% for service in services %}
                        <hr>
                        <a href="{{ path('service_show', {'id': service.id}) }}"> {{service.title}} </a>
                    {% endfor %}
                    <hr><hr>
                    <a class="" href="{ { url('service_new') }}">Ajouter un service</a> 
                </div>
            </div>
            {% endif %}
            <br/><br/>
            {% if is_granted('ROLE_ADMIN') %}
            <h3>Mon compte administrateur</h3>
            <div class="account-container">
                <div class="account-info">
                    <h5> {{app.user.username }} </h5><br/>
                    <p> 
                    <a class="" href="{{ url('cashflow') }}">Cashflow & statistiques</a><br/>
                    <a class="" href="{ { url('service_index') }}">Gestion des services</a><br/>
                    <hr>
                    </p>
                </div>
                <!--
                <div class="account-service">
                    <h5> Vos services </h5>
                    <a class="" href="{ { url('service_new') }}">Ajouter un service</a> 
                </div>
                -->
            </div>
            {% endif %}

        {% endif %}
        <br/><br/>
    </div>
</div>

{% endblock %}
