{% extends 'base.html.twig' %}

{{ include('account/_nav_account.html.twig') }}

    <div class="container">

        <h2> Tout les services </h2>
        <hr>
        <br/>
        <br/>
        <div class="services row d-flex justify-content-around ">
            {% for service in services %}

                <div class="card service" style="width: 18rem;">
                    <img src="service/img/{{ service.image }}" class="card-img-top" alt="{{ service.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                        <h5>{{ service.price }} €</h5> 
                        <a href="{{ path('service_show', {'id': service.id}) }}" class="btn btn-primary">Voir le service</a>

                        <a href="{{ path('service_edit', {'id': service.id}) }}" class="btn btn-primary">Voir le service</a> <!-- edit service --> 
                    </div>
                </div>
                <br/><br/>
            
            {% endfor %}

        </div>
        
    </div>