{% extends 'base.html.twig' %}

{% block title %}Sygma{% endblock %}

{% block body %}

    {{ include('home/_nav_category.html.twig') }}

    <div class="sygma-container">
        <br/>
        <br/>
        <h3> Les cours particuliers </h3>
        <hr>
        <br/>
        <br/>
        <div class="services service-container">
            {% for service in services %}
                <a href="{{ path('service_show', {'id': service.id}) }}"> 
                <div class="card service" style="width: 18rem;">
                    <img src="MentoringService/img/{{ service.image }}" class="card-img-top" alt="{{ service.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                        <h6>{{ service.price }} €</h6> 
                        <br/>
                        <a href="{{ path('service_show', {'id': service.id}) }}" class="call-to-action" style="display:none;"> Voir le cours</a>
                        <div class="call-to-action">Voir le cours</div>
                    </div>
                </div>
                
                </a>
                <br/><br/>
            
            {% endfor %}

        </div>
        
    

    </div>
{% endblock %}
