{% extends 'base.html.twig' %}

{% block title %}Sygma{% endblock %}

{% block body %}

    {{ include('home/_nav_category.html.twig') }}

    <div class="sygma-container">
        <br/>
        <br/>
        <h3> Trouvez un microcours</h3>
        <h7>(existant pour la recherche : foo, bar, ou baz)<h7>

        <div
            x-data="{
                search: '',
                display: false,
        
                items: ['foo', 'bar', 'baz'],
        
                get filteredItems() {
                    return this.items.filter(
                        i => i.startsWith(this.search)
                    )
                }
            }"
        >
            <input x-model="search" @click="{display = true}" placeholder="Trouvez votre micro-cours">
        
            <ul x-show="display">
                <template x-for="item in filteredItems" :key="item">
                    <li x-text="item"></li> <!-- TODO: les cartes de services correspondantes -->
                </template>
            </ul>
        </div>

        <br/>
        <br/>
        <h3> Les cours particuliers </h3>
        <hr>
        <br/>
        <br/>
        <div class="services service-container">
            {% for service in services %}

                <div class="card service" style="width: 18rem;">
                    <img src="service/img/{{ service.image }}" class="card-img-top" alt="{{ service.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                        <h5>{{ service.price }} €</h5> 
                        <a href="{{ path('service_show', {'id': service.id}) }}" class="btn btn-primary">Voir le service</a>
                    </div>
                </div>
                <br/><br/>
            
            {% endfor %}

        </div>
        
        <br/><br/>
        <h3> To do : </h3>
        <hr>
        <ul>
            <li> ⌛ Faire le paiement </li>
            <li> ⌛ Voir le dashboard user ( mes commandes en cours...) </li>
            <li> ⌛ Faire l'espace de service single </li>
            <li> ✔️Espace mon compte</li>
        </ul>
    

    </div>
{% endblock %}
