
{% extends 'base.html.twig' %}

{% block title %}Sygma{% endblock %}

{% block body %}
    {{ include('home/_nav_category.html.twig') }}

    <div class="container">

        

        <h2> Les services de la catégorie : {{ category.name }} </h2>
        <br/>
        <br/>

        {% for service in serviceOfCategory %}

            <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ service.title }}</h5>
                <p class="card-text">{{ service.description }}</p>
                <h5>{{ service.price }}</h5> 
                <a href="{{ path('service_show', {'id': service.id}) }}" class="btn btn-primary">view product</a>
            </div>
            </div>

        {% endfor %}
    

    </div>

{% endblock %}