{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <div class="container">

        <h1>Service</h1>
        <hr>
        <p>{{ service.id }}</p>
        <p>{{ service.title }}</p>
        <p>{{ service.description }}</p>
        <img src="service/img/{{ service.image }}" alt="{{ service.title }}">
        <p>{{ service.price }}</p>
    
        <br/>
        <br/>
        <hr>
        <button><a href="{{ path('OrderInitialization', {'id': service.id}) }}" class="btn btn-primary">Commander</a></button>

        <br/>
        <br/>
        <br/>
        <br/>

        <a href="{{ path('service_index') }}">retour à la liste</a>

        <a href="{{ path('service_edit', {'id': service.id}) }}">editer</a>

        {{ include('service/_delete_form.html.twig') }}
    </div>
{% endblock %}
