<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sygma{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('css/styles.css') }}"

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

        <!-- AlpineJS CDN -->
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light sygma-navbar">
            <a class="navbar-brand" href="{{ path('home') }}">Sygma</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                <!--
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                -->

                {% if is_granted('ROLE_ADMIN') %}
                {% endif %}
                
                {% if is_granted('ROLE_USER') %}
                {% else  %}
         
                {% endif %}
                </ul>

                <!-- right element -->
                {% if is_granted('ROLE_USER') %}

                <li class="nav-item">
                    <a class="nav-link navbar-text" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link navbar-text" href="{{ path('app_account') }}">Mon compte</a>    
                </li>

                {% else  %}

                <li class="nav-item">
                    <a class="nav-link navbar-text" href="{{ path('app_login') }}">Connexion</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link navbar-text" href="{{ path('app_register') }}">Inscription</a>
                </li>
                {% endif %}
                

                

            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer>
            <div class="column">
                <ul>
                    <li> link 1</li>
                    <li> link 2</li>
                    <li> link 3</li>
                    <li> link 4</li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li> link 1</li>
                    <li> link 2</li>
                    <li> link 3</li>
                    <li> link 4</li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li> link 1</li>
                    <li> link 2</li>
                    <li> link 3</li>
                    <li> link 4</li>
                </ul>
            </div>
        </footer>
        <div class="last-footer">
            <p>Copyright © 2021 - Sygma</p>
        </div>
    </body>
</html>
